#venues > article:nth-child(3) > img{
    width: 60vw; min-width: 360px; text-align: center; margin: 5% auto; background-color: #ccc;
}

#venues > article:nth-child(4) > img{
    width: 60vw; min-width: 360px; text-align: center; margin: 5% auto; background-color: #ccc;
}


@media (max-width: 800px) {
    header {
        padding: 0 5px;
    }


    body{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(15, 15, 95);
    text-align: center;
    background-image: radial-gradient(rgb(219, 188, 10), silver, rgb(140, 0, 255));
    align-items: center;
}

img { 
    border-style: ridge;    
    padding: 10px;  
     background-color: lavender; 
    }



#home > nav > ul > li:nth-child(1) > a:hover, 
#home > nav > ul > li:nth-child(2) > a:hover
{

    background-color: silver;

}

#home > nav > ul > li:nth-child(1) , 
#home > nav > ul > li:nth-child(2) {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
