body {
    background-color: lightgray;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}
h1 {
    text-align: center;
    font-size: 3rem;
}
section {
    margin-bottom: 20px;
}
section#buttons > div {
    margin-top: 10px;
}
section#cityList {
    display: flex;
    flex-wrap: wrap;
}

div.city {
    border: 1px black solid;
    margin: 10px;
    width: 200px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
}
button {
    width:150px;
}
input[type=text] {
    width: 100px;
}

label {
    margin-left: 20px;
}