.container{
    display: grid;
    grid-template-columns: 200px 1ft 200px;
    grid-template-areas: "header header header"
    "menu-nav main upcoming-events" 
    "footer footer footer";
    height: 100vh;
}

header{
    grid-area: header;
}

nav#menu-nav{
    grid-area: menu-nav;
}
main{
    grid-area: main;
}
aside#upcoming-events{
    grid-area: upcoming-events;
}
footer{
    grid-area: footer;
}
@media only screen and (max-width:768px){
    .container{
        grid-template-areas: 
        "header"
        "menu-nav"
        "main"
        "upcoming-events"
        "footer";
        grid-template-columns: 1fr;
    }
}